/* Common styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
}

.title {
  font-size: 72px;
  margin-bottom: 0;
  background: linear-gradient(to bottom, #e7dfde, #ca8282);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc {
  font-size: 24px;
  font-weight: 300;
}

.highlight {
  color: #821600;
  font-weight: 700;
}

/* Header section */
.smallerContainer {
  display: flex;
  margin: 20px 90px;
}

.descAbout {
  font-size: 1.3rem;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
}

.videoText {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.typingText {
  font-size: 5.4rem;
  white-space: nowrap;
  overflow: hidden;
  /* Cursor effect */
  animation: typing 3s steps(30, end), cursor 0.5s step-end infinite;
  background: linear-gradient(to bottom, #e8e8e8, #ecb5b5); 
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

/* Features section */
.featuresContainer {
  display: flex;
  margin-top: -89px;
}

.featuresCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid white;
  padding: 30px;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.featuresCard::after {
  content: "";
  position: absolute;
  bottom: -10px; /* Adjust the distance of the glow from the bottom */
  left: 0;
  width: 100%;
  height: 10px; /* Adjust the height of the glow */
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3), transparent);
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.featuresCard:hover {
  transform: translateY(-5px); /* Add a slight lift on hover */
  box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.3); /* Soft white shadow */
}

.featuresCard:hover::after {
  opacity: 1;
}

.featuresCard h1 {
  font-size: 1.3rem;
  padding: 10px;
}

.featuresCard p {
  letter-spacing: 1px;
  font-size: 0.9rem;
}

/* Services section */
.servicesContainer {
  margin-top: -40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.descService {
  font-size: 1rem;
  text-align: center;
}

.services {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
}

.service {
  padding: 10px;
  border-radius: 20px;
  margin: 9px;
}

.imgService {
  border-radius: 20px;
  width: 300px;
  height: 210px;
  object-fit: cover;
}

/* Testimonials section */
.testimonialsContainer {
  padding: 20px 30px;
  margin-top: -90px;
}

.testimonials {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.testimonialCard {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 20px;
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
}

.testimonialText {
  font-size: 16px;
  line-height: 1.5;
}

.testimonialName {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

.titleTestimonial {
  text-align: center;
}

/* Contact section */
.titleContact {
  font-size: 72px;
  margin-bottom: 0;
  background: linear-gradient(to bottom, #891a04, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input,
.textArea {
  padding: 20px;
  background-color: transparent;
  border: 3px solid;
  outline: none;
  color: #bbb;
  font-size: 20px;
  font-weight: bold;
}

.descContact {
  margin-top: -20px;
  font-size: 24px;
}

.videoContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.video {
  width: 100%;
}
@media screen and (max-width: 1500px) {
  /* Video and Typing Text */
  .videoText {
    width: 100%;
  }

  .typingText {
    font-size: 2.0rem;
  }

  /* Features Section */
  .featuresContainer {
    margin-top: 59px;
    flex-direction: column;
    width: 94%;
    margin-top: -20px;
    margin-right: 70px;
    
  }

  .featuresCard {
    padding: 30px;
  }

  /* Common Styles */
  .container {
    gap: 20px;
  }

  .videoContainer {
    width: 100%;
  }

  .smallerContainer {
    margin-top: 50px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .img {
    width: 100%;
  }

  .imgStandard {
    object-fit: contain;
    height: 500px;
    border-radius: 33px;
    position: relative;
    right: 140px;
  }

  .title {
    font-size: 42px;
  }

  .desc {
    font-size: 24px;
  }

  /* Services Section */
  .servicesContainer {
    position: relative;
    left: 50px;
    top: 20px;
    width: 100%;
   
  }

  .descService {
    font-size: 1rem;
    position: relative;
    right: 49px;
    text-align: center;
  }

  .services {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .service {
    border-radius: 20px;
  }

  .imgService {
    width: 200px;
    height: 160px;
  }

  /* Testimonials Section */
  .testimonialsContainer {
    padding: 20px 30px;
    margin-top: 30px;
  }

  .testimonials {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    max-width: 100%;
  }

  .testimonialCard {
    padding: 20px;
  }

  .testimonialText {
    font-size: 16px;
  }

  .testimonialName {
    font-size: 14px;
  }

  .titleTestimonial {
    text-align: center;
    font-size: 1.2rem;
  }

  /* Contact Section */
  .titleContact {
    font-size: 32px;
    margin-bottom: 0;
    margin-left: 30px;
  }

  .descContact {
    margin-top: -20px;
    font-size: 18px;
    margin-left: 30px;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin-left: 44px; 
  }
}

/* Mobile View */
@media screen and (max-width: 450px) {
  /* Video and Typing Text */
  .video {
    width: 100%;
  }

  .videoText {
    width: 350px;
    flex-wrap: wrap;
    display: flex;
  }

  .typingText {
    font-size: 1.24rem;
  }

  /* Features Section */
  .featuresContainer {
    margin-top: -29px;
    width: 100%;
    display: flex;
    margin-left: 70px;
  }

  .container {
    align-items: center;
    gap: 30px;
    margin-top: 20px;
  }
  .featuresCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 82%;
    border: 1px solid white;
    padding: 30px;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .featuresCard::after {
    content: "";
    position: absolute;
    bottom: -10px; /* Adjust the distance of the glow from the bottom */
    left: 0;
    width: 100%;
    height: 10px; /* Adjust the height of the glow */
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3), transparent);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
  }
  
  .featuresCard:hover {
    transform: translateY(-5px); /* Add a slight lift on hover */
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.3); /* Soft white shadow */
  }
  
  .featuresCard:hover::after {
    opacity: 1;
  }
  
  .featuresCard h1 {
    font-size: 1.3rem;
    padding: 10px;
  }
  
  .featuresCard p {
    letter-spacing: 1px;
    font-size: 0.9rem;
  }
  

  .videoContainer {
    width: 100%;
  }

  .smallerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .imgStandard {
    object-fit: contain;
    height: 200px;
    border-radius: 33px;
    position: relative;
    left: -310px;
  }

  .title {
    font-size: 22px;
    width: 100%;
    margin-left: 70px;
  }

  .desc {
    font-size: 24px;
  }

  /* Services Section */
  .servicesContainer {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 33px;
  }

  .descService {
    font-size: 1rem;
    position: relative;
    right: 18px;
  }

  .services {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .service {
    padding: 10px;
    margin: 9px;
    border-radius: 20px;
  }

  .imgService {
    width: 250px;
    height: 210px;
  }

  /* Testimonials Section */
  .testimonialsContainer {
    padding: 20px 0;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .testimonials {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 90%;
    justify-content: center;
    align-items: center;
  }

  .testimonialCard {
    padding: 20px;
  }

  .testimonialText {
    font-size: 16px;
  }

  .testimonialName {
    font-size: 14px;
  }

  /* Contact Section */
  .titleContact {
    font-size: 1.2rem;
  }

  .descContact {
    margin-top: -20px;
    font-size: 1.1rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin-right: 100px;
  }
  
}

