.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
 
}

.smallerContainer{
  display: flex;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.descAbout{
  font-size: 1.3rem;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.slideItem{
  max-width: 600px;
}

.img{
  width: 600px;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
}
.slick-slider {
  width: 100%;
  max-width: 500px; 
  margin: 0 auto;
  padding: 30px;
}
.slick-dots li button {
  background-color: red;
}

.customDot {
  width: 5px;
  height: 5px;
  background-color: rgb(255, 255, 255); 
  border-radius: 50%;

}


.imgStandard{
  width: 100%;
  width: 590px;
  height: 500px;
  object-fit: cover; 
  border-radius: 30px;
}

/*
@keyframes move {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px) scale(1.03);
  }
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 1;
  }
  
  50% {
    opacity: 0;
  }
}
*/


.title {
  font-size: 72px;
  background: linear-gradient(to bottom, #e7dfde, #ca8282);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}


.desc{
  font-size: 24px;
  font-weight: 300;
}
.highlight{
  color:#821600;
  font-weight: 700;
}
.servicesContainer{
  margin-top: -40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.descService{
  font-size: 1.0rem;
  text-align: center;
}

.services{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}
.service{
  padding: 10px;
  margin: 9px;
  border-radius: 20px;
}
.imgService{
  border-radius: 20px;
  width: 300px;
  height: 210px;
  object-fit: cover;
}

.testimonialsContainer {
  padding: 20px 0;
 margin-top: -90px;
 padding-left: 30px;
 padding-right: 30px;
}

.testimonials {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}

.testimonialCard {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 20px;
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
}

.testimonialText {
  font-size: 16px;
  line-height: 1.5;
}

.testimonialName {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}
.titleTestimonial{
  text-align: center;
}

.titleContact{
  font-size: 72px;
  background: linear-gradient(to bottom, #891a04, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}
.form{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input, .textArea{
  padding: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #bbb;
  border: 3px solid;
  font-size: 20px;
  font-weight: bold;
}
.descContact{
  margin-top: -20px;
  font-size: 24px;
}

/* Tablet View */
@media screen and (max-width: 1500px) {
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
  }

  
 

  .slideItem{
    max-width: 700px;
    position: relative;
    
  }

  .smallerContainer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 30px;
  }

  .item {
    display: flex;
    flex-direction: column;
  }

  .img {

    object-fit: cover;
    width: 100%;
  }

  .imgStandard {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
  }

  .title {
    font-size: 42px;
    margin-bottom: 0;
  }

  .desc {
    font-size: 24px;
    font-weight: 300;
  }

  .servicesContainer {
    margin-top: 40px;
    width: 100%;
    margin-left: 40px;
  }

  .descService {
    font-size: 1.0rem;
    position: relative;
    right: 49px;
    text-align: center;
   
  }

  .services {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

  }

  .service {   
    border-radius: 20px;
  }

  .imgService {
    border-radius: 20px;
    width: 200px;
    height: 160px;
    object-fit: cover;
  }

  .testimonialsContainer {
    padding: 20px 0;
    margin-top: 30px;
  }

  .testimonials {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .testimonialCard {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }

  .testimonialText {
    font-size: 16px;
    line-height: 1.5;
  }

  .testimonialName {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
  }

  .titleTestimonial {
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .input,
  .textArea {
    padding: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #bbb;
    border: 3px solid;
    font-size: 12px;
    font-weight: bold;
  }

  .titleContact {
    font-size: 32px;
    background: linear-gradient(to bottom, #891a04, #bbb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
  }

  .descContact {
    margin-top: -20px;
    font-size: 18px;
  }
}


@media screen and (max-width: 450px) {
  .container{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
  
  }
  .slideItem{
    max-width: 280px;
    position: relative; 
  }
  .smallerContainer{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 40px;
  }
  
  
  .item {
    display: flex;
    flex-direction: column;
  }
  
  .img{
    max-width: 330px;
    max-height: 200px;
    object-fit: cover;
    width: 100%;
  }
  
  @keyframes move {
    from {
      transform: translateY(-15px);
    }
    to {
      transform: translateY(0px) scale(1.03);
    }
  }

  .imgStandard{
    width: 100%;
    height: 200px;
    object-fit: fill; 
    border-radius: 30px;
  }
  
  
  .title {
    font-size: 42px;
    margin-bottom: 0;
  }
  
  .desc{
    font-size: 24px;
    font-weight: 300;
  }    
  
.servicesContainer{
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.descService{
  font-size: 1.0rem;
  position: relative;
  right: 18px;
}

.services{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr ;
  align-items: center;
}
.service{
  padding: 10px;
  margin: 9px;
  border-radius: 20px;
}
.imgService{
  border-radius: 20px;
  width: 250px;
  height: 210px;
  object-fit: cover;
}
.testimonialsContainer {
padding: 20px 0;
 margin-top: 30px;
}

.testimonials {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.testimonialCard {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.testimonialText {
  font-size: 16px;
  line-height: 1.5;
}

.testimonialName {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}
.titleTestimonial{
  text-align: center;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input, .textArea{
  padding: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #bbb;
  border: 3px solid;
  font-size: 12px;
  font-weight: bold;
}
.titleContact{
  font-size: 32px;
  background: linear-gradient(to bottom, #891a04, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}
.descContact{
  margin-top: -20px;
  font-size: 18px;
}
}
/* Mobile Landscape Orientation */
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
  }
  .slideItem{
    max-width: 400px;
    position: relative;    
    left: 12%;
  }

  .smallerContainer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 40px;
  }

  .item {
    display: flex;
    flex-direction: column;
  }

  .img {
    object-fit: cover;
     width: 100%;
  }

  .imgStandard {
    width: 100%;
    height: 20%;
    object-fit: cover;
    border-radius: 30px;
  }

  .title {
    font-size: 42px;
    margin-bottom: 0;
  }

  .desc {
    font-size: 24px;
    font-weight: 300;
  }

  .servicesContainer {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .descService {
    font-size: 1.0rem;
    text-align: center;
  }

  .services {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .service {
    padding: 10px;
    margin: 9px;
    border-radius: 20px;
  }

  .imgService {
    border-radius: 20px;
    width: 250px;
    height: 210px;
    object-fit: cover;
  }

  .testimonialsContainer {
    padding: 20px 0;
    margin-top: 30px;
  }

  .testimonials {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .testimonialCard {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }

  .testimonialText {
    font-size: 16px;
    line-height: 1.5;
  }

  .testimonialName {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
  }

  .titleTestimonial {
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .input,
  .textArea {
    padding: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #bbb;
    border: 3px solid;
    font-size: 12px;
    font-weight: bold;
  }

  .titleContact {
    font-size: 32px;
    background: linear-gradient(to bottom, #891a04, #bbb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
  }

  .descContact {
    margin-top: -20px;
    font-size: 18px;
  }
}


