.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
  padding: 30px;
}
.smallerContainer{
  display: flex;
  margin-top: 100px;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.img{
  width: 100%;
  height: 500px;
  object-fit: cover;
  animation: move 2s infinite ease alternate;
}

@keyframes move {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px) scale(1.03);
  }
}

.title {
  font-size: 72px;
  background: linear-gradient(to bottom, #FFA500, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc{
  font-size: 24px;
  font-weight: 300;
}

@media screen and (max-width: 700px) {
  .container{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
  
  }
  .smallerContainer{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 40px;
  }
  
  
  .item {
    display: flex;
    flex-direction: column;
  }
  
  .img{
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    animation: move 2s infinite ease alternate;
  }
  
  @keyframes move {
    from {
      transform: translateY(-15px);
    }
    to {
      transform: translateY(0px) scale(1.03);
    }
  }
  
  .title {
    font-size: 42px;
    background: linear-gradient(to bottom, #FFA500, #bbb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .desc{
    font-size: 24px;
    font-weight: 300;
  }     
}
