.container{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.image{
    object-fit: cover;
    width: 400px;
    height: 300px;
}


.title{
    margin-bottom: 10px;
}

.desc{
    font-size: 18px;
    color: #999;
}

@media screen and (max-width: 1000px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    
.image{
    object-fit: cover;
    width: 300px;
    height: 220px;
}
}